<div class="col-lg-12">

<div class="row">
	<section class="copyright text-center">
		<a href="{{@blog.url}}"><i class="fa fa-home"></i> Home</a> |  
		<a href="{{@blog.url}}"><i class="fa fa-user"></i> About</a> 
	</section>
	<section class="copyright text-center">
		<a href="{{@blog.url}}">{{@blog.title}}</a> &copy; {{date format="YYYY"}}. All Rights Reserved
	</section>
</div>
</div>
<div class="col-lg-12">

<div class="row">
</div>
</div>
