<!DOCTYPE html>
<html>
<head>
	{{! Document Settings }}
	<meta charset="utf-8" />

	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	{{! Page Meta }}
	<title>{{meta_title}}</title>
	<meta name="description" content="{{meta_description}}" />
	<meta name="HandheldFriendly" content="True" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<script>
	var vendetta={
		url:{
			facebook:"https://www.facebook.com/Go.PBDesk/",
			twitter:"https://www.twitter.com/PBDesk",
			linkedin:"https://www.linkedin.com/in/pinalbhatt",
			github: "https://github.com/pinalbhatt/"
		},
		follow:{},
		comment:{
			disqus: "pbdesk-com"
		},
		feed:{

		},
		analytics: 'UA-9753249-7'
	};
	var velma=vendetta;

	function loadCss(url) {
	var link = document.createElement("link");
	link.type = "text/css";
	link.rel = "stylesheet";
	link.href = url;
	document.getElementsByTagName("head")[0].appendChild(link);
	}
		var velma_url="{{asset "assets/"}}".split("?v=")[0];
		loadCss(velma_url+"style.css");
	</script>
	<link rel="shortcut icon" href="/assets/favicon.ico">
	{{! Styles'n'Scripts }}
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:300,700|Roboto:400|Rancho' rel='stylesheet' type='text/css'>
	<script src="{{asset "assets/script.min.js"}}"></script>
{{! Ghost outputs important style and meta data with this tag }}
{{ghost_head}}
{{> "google-analytics"}}
</head>
<body class="{{body_class}} container-fluid">
	{{{body}}}
	{{! Ghost outputs important scripts and data with this tag }}

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "Organization",
  "name" : "{{@blog.title}}",
  "url" : "{{@blog.url}}",
  "sameAs" : [
	  {{ghost_foot}}
  ]
}
</script>
</body>
</html>